<!DOCTYPE html>
<html>
<head>
    <title>Cardápio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Cardápio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_restaurant') }}">Adicionar restaurante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Olá, {{ current_user.username }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">{{ restaurant.name }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th><th>Descrição</th>
                    <th>Preço</th>
                    <th>Disponível</th>
                </tr>
            </thead>
            <tbody>
               {% for item in menu_items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{item.available }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Nenhum item de menu encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>